.about {
    padding: 5rem 3rem 3rem 3rem;
    background: #f8f8f8;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row .column {
    width: 40%;
}

.column .tabs {
    display: flex;
}

.single-tab {
    background: white;
    margin-right: 10px;
    cursor: pointer;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.single-tab h2 {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
}

.about-img {
    position: relative;
    background-image: url("https://july.com/static/ac5a358607110493fc2f43eb27912807/7ef7d/comfort.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
}

/* homepage */


.banner-image {
    background-image: url('https://ap.louisvuitton.com/content/dam/lv/online/high-end/unisex/collection/lady-b/U_LP_Lady_B_Drop_1_v2.html/jcr:content/assets/campaign-he.jpg?imwidth=2048');
    background-size: cover;
}

.call-to-action {
    background-color: #FFDB58;
    border-color: transparent;
    color: black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    border-radius: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
}

.call-to-action:hover {
    background-color:black;
    color: #FFDB58;
    border-color: transparent;
}

#home-bg {
    position: relative;
    width: 100%;
    height: 100%;
}

#home-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}







/* Register */

.error {
    color: red;
}
/* .register-button{

} */

/* Login */

.login{
    width: 400px;
    height: 100px;
}

.login-detail {
    /* border: none !important; */
    outline-width: 0;
    border-radius: 0 !important;
    /* border-bottom: 2px solid #2d2e2f !important; */
}

.login-button, .login-register-button, .register-button{
    border-radius: 0 !important;
    color: white;
    background-color: #2d2e2f !important;
    border-color: transparent;
}

.login-button:hover , .login-register-button:hover ,.register-button:hover{
    background-color: #FFDB58 !important;
    color: #2d2e2f;
    border-color: transparent;
}

